/*头部开始*/
#header{
    width:100%;
    height:1.51rem;
    background:#f7c003;
}
.container{
    width:7.02rem;
    margin:0 auto;
    min-height:1px;
}
.circle{
    width:0.4rem;
    height:0.4rem;
    border-radius:0.2rem;
    background:#fff;
}
h2{
    font-size:0.38rem;
    letter-spacing:0.038rem;
    color:#fff;
}
.desc{
    font-size:0.22rem;
    letter-spacing:0.011rem;
    color:#000;
    opacity: 0.6;
    font-family: "苹方 粗体";
}
.price{
    font-size:0.28rem;
    letter-spacing:0.009rem;
    color:#000;
}
.topBar {
    /*height:1.51rem;*/
    height:0.4rem;
    display: flex;
    justify-content: space-between;
    padding-top:0.25rem;
    /*align-items: flex-start;*/
}

.topLeft{
    display: block;
    font-size:0.22rem;
    color:#f7c003;
    text-align:center;
    line-height:0.4rem;
}
.topLeft i{
    font-size:0.22rem;
}
.topRight{
    display:block;
    font-size:0.22rem;
    color:#f7c003;
    text-align:center;
    line-height:0.4rem;
    background-color:#f7c003;
}
/*头部结束*/
/*订单派送部分开始*/
#section{
    width:100%;
}
.sectionBox{
    height:1.35rem;
    background-color:#fff;
    box-shadow:0 0.05rem 0.15rem rgba(247,192,3,0.52);
    border-radius:0.1rem;
    margin-top:0.24rem;
}
.displayFlex{
    display: flex;
    justify-content:space-around;
    align-items:center;
}
.displayFlex img{
    width:0.95rem;
    height:1.08rem;
}
.flexBox1{
    width:1.32rem;
}
.flexBox2{
    width:3.5rem;
}
.flexBox1 hr{
    width: 1.29rem;
    border: dashed 0.01rem #000;
    opacity: 0.2;
}
/*订单派送部分结束*/
/*返回首页部分开始*/
#navBox {
    width: 100%;
    margin-top:0.79rem;
    margin-bottom:0.47rem;
}
.contentBox{
    width:5.04rem;
    margin:0 auto;
}
.navBoxHeight{
    height: 0.58rem;
    display: flex;
    justify-content: space-between;
}
.circleRect {
    width: 2.25rem;
    height: 0.58rem;
    border-radius: 0.29rem;
    color: #fff;
    text-align: center;
    font-size:0.24rem;
    line-height: 0.58rem;
}
.backIndex{
    background-color:#ff296f;
}
.continuePay{
    background-color:#f7c003;
}
/*返回首页部分结束*/
/*商家推送开始*/
#loveBox{
    width:100%;
    height:5.15rem;
}
#mainLove{
    width:6.53rem;
    height:5.15rem;
    margin:0 auto;
}
#mainLove h3{
    font-size:0.24rem;
    color:rgba(0,0,0,0.2);
    letter-spacing: 0.024rem;
    text-align: center;
    margin-bottom:0.27rem;
}
.loveContent{
    width:100%;
    height:1.51rem;
    display: block;
    border-top:1px solid rgba(0,0,0,0.2);
    position: relative;
}
.imgLove{
    margin-bottom:0.16rem;
    position: absolute;
    left:0.16rem;
    top:0.16rem;
}
.loveTxt{
    width:2.44rem;
    height:1.22rem;
    margin-bottom:0.16rem;
    position: absolute;
    left:1.54rem;
    top:0.16rem;
}
h2{
    font-size:0.3rem;
    color:#000;
    letter-spacing:0.03rem;
}
.txt{
    font-size:0.20rem;
    font-family: "苹方 粗体";
    /*letter-spacing:0.022rem;*/
    color:#000;
    opacity:0.6;
}
.footerLove{
    width: 2.6rem;
    height: 0.23rem;
    background-color: #ffffff;
    border-radius: 0.05rem;
    border: solid 0.01rem #fb307d;
    font-size: 0.18rem;
    letter-spacing: 0.018rem;
    color: #f90863;
    text-align: center;
    line-height: 0.23rem;
    font-family: "苹方 粗体";
}
.rightTxt{
    position:absolute;
    right:0.41rem;
    top:0.84rem;
}
.borderBad{
    width: 0.16rem;
    height: 0.16rem;
    border-radius: 0.05rem;
    border: solid 0.01rem #000000;
    line-height:0.1rem;
    position:absolute;
    right:0.19rem;
    top:0.88rem;
    text-align: center;
}
/*商家推送结束*/