/*头部开始*/
#header{
    width:100%;
    height:1.51rem;
    background:#f7c003;
    position:relative;
}
.container{
    width:7.02rem;
    margin:0 auto;
    min-height:1px;
}
.circle{
    width:0.4rem;
    height:0.4rem;
    border-radius:0.2rem;
    background:#fff;
}
h2{
    font-size:0.38rem;
    letter-spacing:0.038rem;
    color:#fff;
}
h3{
    font-size:0.24rem;
    letter-spacing:0.005rem;
    color:#000;
}
.desc{
    font-size:0.22rem;
    letter-spacing:0.011rem;
    color:#000;
    opacity: 0.6;
    font-family: "苹方 粗体";
}
.price{
    font-size:0.22rem;
    letter-spacing:0.009rem;
    color:#000;
    opacity:0.6;
}
.hTxt{
    font-size:0.24rem;
    letter-spacing:0.024rem;
    color:#000;
    opacity:0.6;
}
.topBar {
    /*height:1.51rem;*/
    height:0.4rem;
    display: flex;
    justify-content: space-between;
    padding-top:0.25rem;
    /*align-items: flex-start;*/
}
.topBar h2{
    width:5.1rem;
    text-align: center;
}
.topLeft{
    display: block;
    font-size:0.22rem;
    color:#f7c003;
    text-align:center;
    line-height:0.4rem;
}
.topLeft i{
    font-size:0.22rem;
}
.topMiddle{
    display: block;
    font-size:0.22rem;
    color:#f7c003;
    text-align:center;
    line-height:0.4rem;

    /*position:absolute;*/
    /*right:0.85rem;*/
    /*top:0.26rem;*/
}
.topMiddle i{
    font-size:0.22rem;
}
.topRight{
    display:block;
    font-size:0.22rem;
    color:#f7c003;
    text-align:center;
    line-height:0.4rem;
}
/*头部结束*/
/*店家信息开始*/
#myInfo{
    width:100%;
    height:1.78rem;
    margin-top:-0.5rem;
    margin-bottom:0.6rem;
}
.infoBox{
    display: block;
    height:1.78rem;
    background-color: #ffffff;
    box-shadow: 0 0.05rem 0.15rem 0 rgba(0, 0, 0, 0.33);
    border-radius: 0.1rem;
    position: relative;
}
#figure{
    width:4.85rem;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
#figure figcaption p{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
#figure figcaption p i{
    font-size:0.22rem;
    color:#000;
}
#figure figcaption p img{
    margin-right:-0.06rem;
}
.colorRed{
    color: #ff296f;
    font-weight:800;
    opacity: 1;
}
.colorYellow{
    color: #f7c003;
    font-weight:800;
    opacity: 1;
}
/*店家信息结束*/
/*导航部分开始*/
#navBox{
    width:100%;
    height:0.44rem;
    margin-bottom:0.25rem;
}
.contentBox{
    width:4.16rem;
    height:0.44rem;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.contentBox a{
    display: block;
    width:1.14rem;
    height:0.44rem;
    border-radius:0.22rem;
    background-color: #ecb803;
    font-size:0.24rem;
    color:#fff;
    text-align:center;
    line-height:0.44rem;
}
.contentBox a.contentActive{
    background-color: #ff296f;
}
/*导航部分结束*/
/*内容部分开始*/
#mainBox{
    width:100%;
    height:7.82rem;
    background:#eee;
    padding-top:0.24rem;
}
.mainContent{
    height:6.84rem;
    display: flex;
    justify-content: space-around;
}
.mainLeft{
    width:1.14rem;
    height:5.62rem;
    margin-right: 0.24rem;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.mainLeft li a{
    display: block;
    width:1.14rem;
    height:0.44rem;
    border-radius:0.22rem;
    border:0.04rem solid #f7c003;
    text-align:center;
    line-height:0.4rem;
    color:#f7c003;
    font-size:0.24rem;
}
.mainLeft li a.leftActive {
    color: #fff;
    background-color: #f7c003;
    border:0;
}
.mainRight{
    width:5.61rem;
    height:6.8rem;
}
.mainRight li{
    position:relative;
}
.mainRight li figure{
    width:5.61rem;
    height:1.52rem;
    border-radius:0.1rem;
    background:#fff;
    margin-bottom:0.24rem;
    display: flex;
}
.mainRight li figure figcaption hr{
    width:1.29rem;
    border:dashed 0.01rem #000;
    opacity: 0.3;
}
.mainRight li figure figcaption p{
    font-size:0.22rem;
}
.redTxt {
    color: #ff296f;
}
.yellowTxt{
    color: #f7c003;
}
.paddingTop{
    padding-top: 0.15rem;
}
/*.smallCircle{*/
    /*width:0.34rem;*/
    /*height:0.34rem;*/
    /*border-radius:0.17rem;*/
/*}*/
.mainBoxRight{
    width:1.22rem;
    height:0.4rem;
    position:absolute;
    right:0.24rem;
    bottom:0.12rem;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.rightColor{
    display: block;
    background-color:#f7c003;
    color:#fff;
}
.rightColor i{
    float: left;
    font-size:0.22rem;
    margin:0.08rem;
}
.bottomRight{
    display: block;
    background-color:#f7c003;
    position:absolute;
    right:0.24rem;
    bottom:0.12rem;
    color:#fff;
}
.bottomRight i{
    float: left;
    font-size:0.22rem;
    margin:0.08rem;
}
/*内容部分结束*/
/*底部开始*/
#footer{
    width:100%;
    height:1.5rem;
    position:fixed;
    bottom:0;
}
.footerContent{
    width:6.44rem;
    height:0.46rem;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
.footerContent i{
    font-size:0.44rem;
    opacity: 0.6;
    color:#000;
}
.footerContent .active{
    opacity:1;
    color:#f7c003;
    position: relative;
}
.footerTxt{
    width:2.4rem;
    height:100%;
}
.footerBtn{
    display: block;
    width:1.23rem;
    height:0.44rem;
    background-color:rgba(0,0,0,0.6);
    border-radius:0.22rem;
    font-size: 0.22rem;
    color:#fff;
    text-align:center;
    line-height:0.44rem;
}
.btnActive{
    background-color:#f7c003;
}
.fontSize18{
    color:#000;
    opacity: 0.6;
    font-size:0.18rem;
}
.redCircle{
    width:0.16rem;
    height:0.16rem;
    border-radius:50%;
    color:#fff;
    background-color:#ff296f;
    position:absolute;
    top:0;
    right:-0.07rem;
    font-size:0.16rem;
    text-align:center;
    line-height: 0.16rem;
}
/*底部结束*/